/*.nav { position: fixed !important; top: 0; left: 0; right: 0; }*/

.pmv-footer{
  background-color: whitesmoke;
}

.pmv-icon-social{
  margin: 0 6px;
}

.pmv-text {
  font-size: 20px;
  font-weight: 40;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}

.pmv-digit {
  color: #ac0000;
  font-size: 48px;
  font-weight: 48;
  margin: 10px;
  text-align: center;
}