@import "node_modules/bulma/sass/utilities/initial-variables.sass";

$pmvColor: #ac0000;

$primary: $pmvColor;

@import "node_modules/bulma/sass/utilities/_all.sass";

@import "node_modules/bulma/bulma.sass";

.footer-info{
  justify-content: flex-end !important;

  @include touch() {
    justify-content: center !important;
  };
}

.v-center{
  align-items: center;
  float: none !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-top: auto !important;
  padding-bottom: auto !important;
}