/*.nav { position: fixed !important; top: 0; left: 0; right: 0; }*/

.pmv-footer{
  background-color: whitesmoke;
  padding: 1rem 1.5rem;
}

.pmv-icon-social{
  margin: 0 6px;
}

.pmv-hr-line{
  margin: 0;
}

.pmv-hr-small-line{
  border-style: none;
  border-width: 0;
  margin: 0px auto 30px;
  background-color: #bbb;
  width: 100px;
  height: 5px;
}

.pmv-card-margin{
  margin: auto 20px;
}

.facebook-color{
  color: #3b5998 !important;
}

/*.pmv-text {
  font-size: 20px;
  font-weight: 40;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}

.pmv-digit {
  color: #ac0000;
  font-size: 48px;
  font-weight: 48;
  margin: 10px;
  text-align: center;
}*/