@import "node_modules/bulma/sass/utilities/initial-variables.sass";

$pmvColor: #ac0000;

$primary: $pmvColor;

@import "node_modules/bulma/sass/utilities/_all.sass";

@import "node_modules/bulma/bulma.sass";

.pmv-text{
  font-size: 20px;
  font-weight: 40;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;

  @include touch() {
    font-size: 16px;
    font-weight: 20;
  };
}

.pmv-digit{
  color: #ac0000;
  font-size: 48px;
  font-weight: 48;
  margin: 10px;
  text-align: center;

  @include touch() {
    font-size: 36px;
    font-weight: 36;
    margin: 2px;
  };
}

.v-center{
  align-items: center;
  float: none !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.pmv-brosur-image{
  width: 40%;

  @include touch() {
    width: 100%;
  }
}